<a href="https://colab.research.google.com/github/jhjdl3984/ozcoding-shcool-15nd/blob/main/chapter45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##클래스 변수와 메소드

In [ ]:
# 클래스 변수 만들기
# => class 클래스이름:
#        클래스변수 = 값

# 클래스 변수에 접근하기
# => 클래스이름.변수이름

In [12]:
# 기존 코드를 개선해서 학생 수를 세어보는 기능 추가

class CreateOzStudents:

    count = 0       # 클래스 변수 => count

    def __init__(self, name, python, database, django, aws):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.aws = aws


        CreateOzStudents.count += 1     # 클래스이름.변수이름 => 클래스 변수에 접근
        print(f'{CreateOzStudents.count}번째 수강생의 정보가 추가되었습니다.')


oz_students = [
    CreateOzStudents("백현우", 4, 3, 3, 2),
    CreateOzStudents("홍혜인", 4, 5, 2, 4),
    CreateOzStudents("윤은성", 3, 4, 4, 1),
    CreateOzStudents("홍수철", 2, 3, 1, 5),
]

print(CreateOzStudents.count)

1번째 수강생의 정보가 추가되었습니다.
2번째 수강생의 정보가 추가되었습니다.
3번째 수강생의 정보가 추가되었습니다.
4번째 수강생의 정보가 추가되었습니다.
4

####클래스 안에 함수 만드는 방법
=> @classmethod 라는 데코레이터사용

In [ ]:
class 클래스이름:
    @classmethod
    def 클래스함수명(cls, 매개변수):        # cls => 클래스명
        pass
# 클래스 함수를 호출하는 방법
클래스이름.클래스함수명(매개변수)

In [16]:
class CreateOzStudents:
    student = []

    @classmethod
    def print(cls):
        print("수강생 데이터베이스 정보")
        print("이름\t총점\t평균")
        for student in cls.student:
            print(str(student))

    def __init__(self, name, python, database, django, aws):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.aws = aws
        CreateOzStudents.student.append(self)

    def get_sum(self):
        return self.python + self.database + self.django + self.aws

    def get_avg(self):
        return self.get_sum() / 4

    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_avg()}'


CreateOzStudents("백현우", 4, 3, 3, 2),
CreateOzStudents("홍혜인", 4, 5, 2, 4),
CreateOzStudents("윤은성", 3, 4, 4, 1),
CreateOzStudents("홍수철", 2, 3, 1, 5)

CreateOzStudents.print()

수강생 데이터베이스 정보
이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75