<a href="https://colab.research.google.com/github/jhjdl3984/ozcoding-shcool-15nd/blob/main/chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##list

* list란? 원소들이 연속적으로 저장되는 형태의 자료형
* 시퀀스 자료형(str, list, tuple, dict, set)의 설명과 동일

In [ ]:
리스트 = [23, "이게 리스트다", 3.23, True, False]
print(리스트)

[23, '이게 리스트다', 3.23, True, False]

In [ ]:
리스트 = list()
print(리스트)

[]

In [ ]:
# list(range(시작, 끝. 증가))

리스트 = list(range(0, 20, 2))
print(리스트)

리스트2 = list(range(20, 0, -1))
print(리스트2)

리스트3 = list(range(20,0))
print(리스트3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
a, b, c = ['들', '어', '가']
print(a, b, c)

d, e, f = [7, 7, 8]
print(d, e, f)

지갑 = [10000, 5000, 1000]
만원, 오천원, 천원 = 지갑
print(f'{만원} 2장, {오천원} 3장, {천원} 1장')

들 어 가
7 7 8
10000 2장, 5000 3장, 1000 1장

In [ ]:
# 리스트 패킹, 리스트 언패킹

input().split()

기억? 나요?

['기억?', '나요?']

In [ ]:
# 슬라이싱

로또 = [3, 4, 15, 33, 41, 44]

# 로또 리스트안에 33이 있는지 확인해보기

print(33 in 로또)

# range를 사용해 1부터 10사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들기
짝수 = list(range(2, 12, 2))
print(짝수)

# len()함수를 이용해 인덱스 마지막 값을 출력
a = (len(짝수))
print(짝수[a-1])

True
[2, 4, 6, 8, 10]
10

####list 값 추가
*append(): 마지막 요소에 값 추가

*insert(): 원하는 위치에 값 추가


####list 값 삭제
*del  예)del mzfood[-1]


####list 값 변경
예)mzfood[-2] = "양고기" => -2자리에 있던 값이 양고기로 변경

In [ ]:
# reverse(): 리스트 안에 있는 요소가 반대 순서로 츌력
a = [1, 2, 3, 4]
a.reverse()
print(a)
# print(a.reverse()) X

# sort(): 오름차순
a.sort()
print(a)
# print(a.sort()) X

[4, 3, 2, 1]
[1, 2, 3, 4]