<a href="https://colab.research.google.com/github/jhjdl3984/ozcoding-shcool-15nd/blob/main/chapter9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 입력과 출력

* 입력 : input()
* 출력 : print()


##### 함수와 메서드
>함수: 어디에 속해있지 않고 단독 모듈이라 함수를 그냥 호출하여 사용이 가능  예) print(), input()
https://docs.python.org/ko/3/library/functions.html

메소드: 함수의 클래스 안에 속해 있고 클래스의 멤버 변수들을 이용해서 구현된것
예) "까먹으신건가요?".count("까") / "까먹으신건가요?".index("까")

In [ ]:
#input으로 들어오는 값은 문자열
인사 = input("(우리학교 최고 존잘남)아.... 안녕")
print(type(인사))

(우리학교 최고 존잘남)아.... 안녕5
<class 'str'>

In [ ]:
# str -> int 2가지 방법
정수 = input()
정수 = int(정수)
print(정수, type(정수))

정수 = int(input())
print(정수, type(정수))

5
5 <class 'int'>
5
5 <class 'int'>

In [ ]:
# srt -> float 두가지 방법
실수 = input()
실수 = float(실수)
print(실수, type(실수))

실수 = float(input())
print(실수, type(실수))

5
5.0 <class 'float'>
5
5.0 <class 'float'>

그 외 입력값의 형변환이 가능한 종류
* tuple()
* list()
* dict()
* set()

In [ ]:
# 변수가 2개이상이면 XX
넌센스, 정답 = input()

될까?

ValueError: too many values to unpack (expected 2)

In [ ]:
넌센스, 정답 = input().split()
print(f'넌센스 퀴즈 : {넌센스}')
print(f'정답 : {정답}')

스페인에서에스파를만나면? 에스파냐
넌센스 퀴즈 : 스페인에서에스파를만나면?
정답 : 에스파냐

In [ ]:
# 띄어쓰기
넌센스, 정답 = input().split(',')
print(f'넌센스 퀴즈 : {넌센스}')
print(f'정답 : {정답}')

스페인에서 에스파를 만나면?, 에스파냐
넌센스 퀴즈 : 스페인에서 에스파를 만나면?
정답 :  에스파냐

In [ ]:
# 시퀀스 자료형에 다 지원되는 메소드
번호1, 번호2, 번호3, 번호4 = input().split(",")

번호1 = int(번호1)
번호2 = int(번호2)
번호3 = int(번호3)
번호4 = int(번호4)
print(번호1, 번호2, 번호3, 번호4)

3382, 93939, 48482, 49293
<class 'int'> 93939 48482 49293

In [ ]:
# map()
번호1, 번호2, 번호3, 번호4 = map(int, input().split(','))
print(type(번호1), 번호2, 번호3, 번호4)

39123, 31, 492, 4928
<class 'int'> 31 492 4928

In [ ]:
# 레거시: 누군가 남겨두고간 코드
# 리팩토링: 결과의 변경 없이 코드의 구조를 재조장하는 것

In [ ]:
# print() 함수에 기능을 이용해보겠습니다.

print("초코칩", "민트", "샷추가", "휘핑크림")
print("초코칩", "민트", "샷추가", "휘핑크림", sep='/')
print("초코칩", "민트", "샷추가", "휘핑크림", sep=':')
print("초코칩", "민트", "샷추가", "휘핑크림", sep='    ')
print("초코칩", "민트", "샷추가", "휘핑크림", sep='\n')

# sep= 은 " "를 기준으로 출력시 그 사이에 넣어서 출력됨

초코칩 민트 샷추가 휘핑크림
초코칩/민트/샷추가/휘핑크림
초코칩:민트:샷추가:휘핑크림
초코칩    민트    샷추가    휘핑크림
초코칩
민트
샷추가
휘핑크림

In [ ]:
# end

print("초코칩", "민트", "샷추가", "휘핑크림", end = ' ')
print("초코칩", "민트", "샷추가", "휘핑크림", end = ' ')

초코칩 민트 샷추가 휘핑크림 초코칩 민트 샷추가 휘핑크림