<a href="https://colab.research.google.com/github/jhjdl3984/ozcoding-shcool-15nd/blob/main/chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 변수란? (기본중의 기본)

In [ ]:
# 두 개의 값을 하나의 변수에 넣을 때
name, age = "오즈", 15
print(name, age)

오즈 15

1부터 5까지의 숫자를 더하는 문제를 풀어보겠습니다. 단, 다음 숫자를 더하기 위 해서 매번 새로운 줄에서 시작해야하는 조건이 있습니다.

In [ ]:
# 변수 사용 X
# 이전에 계산된 결과를 저장할 수 있는 방법이 X

1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [ ]:
# 변수 사용 O
# 이전에 계산된 결과를 저장해서 사용할 수 O

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

### 변수에 값을 넣는 것 => 할당

sum = 1 + 2 => 1+2의 계산된 결과를 sum이라는 변수ㅜ에 할당한다.

"=" : 할당 연산자
"+" : 산술 연산자

+= 산술 후 바로 할당하는 문법

/=, -=, *= 모두 가능

In [ ]:
# +=
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [ ]:
# 변수에 어떤값도 넣고 싶지 않고 선언하는 방법

nothing = None
print(nothing)

None

In [ ]:
# 포메팅 3가지
# f-string: f'{변수명}'

me = "파머"
print(f'{me}만 빼고 고양이 다 있어')

파머만 빼고 고양이 다 있어

In [ ]:
a = float(11/2)
print(a)

5.5

In [ ]:
# 붕어빵이름과 가격, 주문 개수
fish__p, fish__s, fish__j = "붕어빵(팥)", "붕어빵(슈)", "붕어빵(잡채)"
fish__p__sell = 2000
fish__s__sell = 2500
fish__j__sell = 3000
order__s, order__j = 2, 3

# 붕어빵 계산값
order__s__pay, order__j__pay = fish__s__sell * 2, fish__j__sell * 3

# 구매 총 개수
total = order__s + order__j

# 구매 총 금액
total__pay = order__s__pay + order__j__pay

print(f'주문이 완료되었습니다. {fish__s} {order__s}개, {fish__j} {order__j}개 총 {total}개 결제 금액은 {total__pay}원 입니다.')

주문이 완료되었습니다. 붕어빵(슈) 2개, 붕어빵(잡채) 3개 총 5개 결제 금액은 14000원 입니다.