<a href="https://colab.research.google.com/github/jhjdl3984/ozcoding-shcool-15nd/blob/main/chapter7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형(str, bool)

In [ ]:
# bool(bool, boolean) : 참 or 거짓, Ture or False, 1 or 0

In [ ]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매직 서울북부"
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(float(5))
print(int(5.0))

5.0
5

### str
특징 : 시퀀스 자료형

시퀀스 = 요소들이 연속적으로 이어진 자료형

요소 = 값 하나하나

In [ ]:
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
print(소속[7])

# 문자열 길이를 넘어가면 오류
#print(소속[8])

s매직 서울북부
s
매
직

서
울
북
부

In [ ]:
"매" in 소속
"3" in 소속

False

In [ ]:
# 문자열 즉 시원스 끼리 합치기

"13" + "금요일"

'13금요일'

In [ ]:
# 복사가 가능

옛날게임 = "바니바니 당근당근 " * 20
print(옛날게임)

len(옛날게임)

바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근

200

In [ ]:
생년월일 = "2000. 12. 25"
년 = 생년월일[0:4]
월 = 생년월일[6:8]
일 = 생년월일[10:]
print(f'{년} {월} {일}')

2000 12 25

In [ ]:
숫자 = "23849383120"

#첫번째 인덱스 기준으로 2칸씩 띄어쓰기 출력
print(숫자[::2])

#[::-1]일 때 가운데 인덱스가 첫번째 인덱스보다 작아야함
print(숫자[4:1:-1])

289810
948

In [ ]:
퀴즈 = "스님이 공중에 뜬다를 6글자로 말하면? 어중이떠중이"
print(퀴즈[22:28])

어중이떠중이

In [ ]:
#count() : 괄호 안에 있는 문자가 몇개 있는지 구하기
과일 = "apple"
과일.count("p")

2

In [ ]:
#index() : 위치 구하기 (첫번째 p 구하기)
과일 = "apple"
과일.index("p")

1